.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  background-color: #eeeeee;

  width: 280px;
  height: 420px;
  padding: 24px 16px;
}

.image-wrapper {
  position: relative;
  width: 248px;
  height: 197px;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: fill;
}

.badge {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 50px;
  color: #eeeeee;
  background-color: #ff312e;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #333138;
}

.card-stock {
  font-size: 12px;
  color: #333138d7;
  font-weight: 500;
}

.card-price {
  font-size: 20px;
  font-weight: bold;
  color: #ff312e;
}

button {
  cursor: pointer;
  border: none;

  background-color: #ff312e;
  text-align: center;
  padding: 6px 0px;
  font-size: 20px;
  border-radius: 8px;
  color: #eeeeee;
  font-weight: bold;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
